@import "variables";

html {
    background: red;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.carousel-main {
    position: relative;
    width: 100%;
    height: 100vh;
    background: $color-carousel-background;
    overflow: hidden;
}

.carousel-context {
    list-style: none;
    width: 100%;
    height: 100%;
}

.carousel-item {
    visibility: visible;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .carousel-item-inner {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .carousel-item-image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: transform 1.1s 0.6s cubic-bezier(0.4, 0, 0.22, 1),
            -webkit-transform 1.1s 0.6s cubic-bezier(0.4, 0, 0.22, 1);
        transform: translateX(200%);
    }

    a {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
    }

    .carousel-item-image-container {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 0;
        transition: border-radius 0.4s 1.4s cubic-bezier(0.4, 0, 0.22, 1),
                    transform 0.4s 1.4s cubic-bezier(0.4, 0, 0.22, 1),
                    -webkit-transform 0.4s 1.4s cubic-bezier(0.4, 0, 0.22, 1);
        transform: scale($scale-min);
    }

    .carousel-background-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: transform 0.4s 1.4s cubic-bezier(0.4, 0, 0.22, 1);
        transform: scale($scale-min);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &.current {
        .carousel-item-image-container,
        .carousel-background-image {
            transform: scale($scale-max);
        }

        .carousel-item-image {
            transform: translateX(0);
        }
    }

    &.prev {
        .carousel-item-image {
            transform: translateX(-100%) scale(0.55);
        }
    }
}

.carousel-controls {
    position: absolute;
    z-index: 5;
    height: 44px;

    bottom: 30px;
    left: 140px;
    right: 140px;

    display: flex;
    flex-direction: row;

    svg {
        fill: $color-carousel-controls;
    }
}

.carousel-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.25rem;
    margin-right: 18px;

    svg {
        width: 18px;
        height: 18px;
    }
}

.carousel-pagers {
    position: relative;
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 2px;
        background: rgba(255, 255, 255, 0.4);
    }
}

.carousel-pager-item {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

    &.current {
        .carousel-pager-button {
            background: $color-primary;
            transform: scale(1.25);
            border-color: transparent;
            transition: 0.5s ease;
        }
    }
}

.carousel-pager-button {
    position: relative;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 50%;
}

.carousel-pager-progress {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 2px;
    background: $color-primary;
    transform-origin: left center;
}
