@import "variables";

html {
    background: $color-html-background;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.carousel-main {
    position: relative;
    width: 100%;
    height: 100vh;
    background: $color-carousel-background;
    overflow: hidden;
}

.carousel-context {
    list-style: none;
    width: 100%;
    height: 100%;
}

.carousel-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .carousel-item-inner {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .carousel-item-image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        transform: translateX(200%);
        transition: transform 1.1s 0.6s cubic-bezier(0.4, 0, 0.22, 1);
    }

    a {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }

    .carousel-item-image-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        border-radius: 0;

        transform: scale($scale-min);
        transition: border-radius 0.4s 1.4s cubic-bezier(0.4, 0, 0.22, 1),
                    transform 0.4s 1.4s cubic-bezier(0.4, 0, 0.22, 1);
        
        overflow: hidden;
    }

    .carousel-background-image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        transition: transform 0.4s 1.4s cubic-bezier(0.4, 0, 0.22, 1);
        transform: scale($scale-min);
        
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &.current {
        .carousel-item-image-container,
        .carousel-background-image {
            transform: scale($scale-max);
        }

        .carousel-item-image {
            transform: translateX(0);
        }

        .carousel-item-details {
            transform: translateX(0%);
            transition: transform 1.1s 0.5s cubic-bezier(0.4, 0, 0.22, 1);
        }
    }

    &.prev {
        .carousel-item-image {
            transform: translateX(-100%) scale($scale-min);
        }

        .carousel-item-details {
            transform: translateX(-100%);
        }
    }
}

.carousel-controls {
    position: absolute;
    height: 44px;
    bottom: 20px;
    left: 150px;
    right: 150px;

    display: flex;
    flex-direction: row;

    svg {
        fill: $color-carousel-controls;
    }
}

.carousel-toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.25rem;
    margin-right: 18px;

    svg {
        width: 18px;
        height: 18px;
    }
}

.carousel-pagers {
    position: relative;
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 2px;
        background: $color-empty-progressbar;
    }
}

.carousel-pager-item {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

    &.current {
        .carousel-pager-button {
            background: $color-primary;
            transform: scale($carousel-pager-button-current-scale);
            border-color: transparent;
            transition: 0.5s ease;
        }
    }
}

.carousel-pager-button {
    position: relative;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 1px solid $color-carousel-pager-button-border;
    border-radius: 50%;
}

.carousel-pager-progress {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 2px;
    background: $color-primary;
    transform-origin: left center;
}

.carousel-item-details {
    position: absolute;
    bottom: 70px;
    left: 150px;
    right: 150px;
    z-index: 2;
    
    display: flex;
    flex-direction: column;

    color: $color-carousel-detail-fonts;

    transform: translateX(200%);
    transition: transform 1.1s 0.5s cubic-bezier(0.4, 0, 0.22, 1);
    
    .carousel-item-detail-title,
    .carousel-item-detail-category {
        width: 100%;
        font-weight: bold;
        white-space: break-spaces;
        word-break: break-all;
    }

    .carousel-item-detail-title {
        font-size: 2.2rem;
        margin-bottom: 10px;
    }

    .carousel-item-detail-category {
        font-size: 1.3rem;
    }
}