$color-primary: rgb(0, 119, 255);
$color-carousel-background: #000;
$color-carousel-controls: #fff;
$color-carousel-pager-button-border: rgb(180, 180, 180);
$color-empty-progressbar: rgba(#fff, 0.5);

$scale-max: 1.0;
$scale-min: 0.5;

$carousel-pager-button-current-scale: 1.35;